.menu{
    width: 100%;
    height: 50px;
    background-color: black;
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> d18612d (troubleshooting)
    color: white;
}

.menu ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    float: left;
    margin: 20 0px;
    padding: 0 25px;

}

.menu ul li{
    list-style-type: none;
    padding-right: 10px;
<<<<<<< HEAD
=======
    font-;
>>>>>>> d988350 (added the menu and some addl routing)
=======
>>>>>>> d18612d (troubleshooting)
}